<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JATickerView.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>JATickerViewTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>69091439169375F30053A65C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69220EE41CED5325000A2415</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69220EED1CED5325000A2415</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6987321A1693F05800893230</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69C81DFA1693DBED0089C849</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69C81E0C1693DC8A0089C849</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
